<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="stylesheet" href="/templates/static/index1.css">
    <title>NYC Logistics</title>
</head>
<body>
<img src="logo.jpg"align="left" width="90" height="70" alt >

   <section>
   <header>
       <div class="navbar">
  <a href="#tools">Tools</a>
  <a href="#digital">Digital Solutions</a>
  <a href='#sustain'>Sustainability</a>
  <a href="/predict">Predictor</a>

    <div class="dropdown">
    <button class="dropbtn">More
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">News</a>
      <a href="#">Help Center</a>
      <a href="#">Contact</a>
    </div>
  </div>
</div>

       <div class="container">
  <img src="background.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
      <div style="color:black"></div>
             <div class="Firstfont">
             <h1>WORLD CLASS</h1></div>
             <div class="Secondfont">
                 <h1>SHIPPING SOLUTIONS</h1></div>
             <div class="thirdfont">
                 <h1>AND SERVICES</h1></div><br><br><br>
             <div class="wrapper">
                <button class="button">ASIA</button>
                <button class="button">AMERICA</button>
                <button class="button">AFRICA</button>
                <button class="button">EUROPE</button></div>
       </div>
</div>
   </header>
   </section>
</body>

</html>
